@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import "components/banner.css";
@import "components/card.css";
@import "components/button.css";
@import "components/avatar.css";

.container {
    margin: 0px auto;
    padding: 8px;
    width: 700px;
}
@media (max-width: 960px) {
    .container {
      width: 600px;
    }
  }
  @media (max-width: 720px) {
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    .container {
      width: 300px;
    }
  }
body {
    background-color: #f0f0f0;
    font-family: 'Open Sans', sans-serif;
}

.img-circle {
    border-radius: 50%;
}

p {
    color: white;
}

h1 {
    color: white;
}

.card-profile img {
	height: 360px;
	width: 360px;
}

h2 {
  color: #808080;
}

.list-inline > li {
    display: inline-block;
    padding: 0px 8px;
    font-size: 30px;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.name {
	color: white;
	font-size: 48px;
}

a i{
	text-decoration: none;
	color: black;
}

a i:hover{
	text-decoration: none;
	color: #808080;
}

.link-site:hover {
	text-decoration: none;
}